.DS_Store
target/
.idea
.project
.settings
.classpath
.vscode
.java-version
*.iml
build/
bin/
.gradle
gradle
gradlew
gradlew.*
dependency-reduced-pom.xml
examples/zip-release/*.jar
karate-demo/activemq-data/
karate-demo/*.pem
karate-demo/*.jks
karate-demo/*.der
karate-core/*.pem
karate-core/*.jks
karate-core/*.der
karate-robot/tessdata
karate-junit4/src/test/java/com/intuit/karate/junit4/dev
karate-robot/src/test/java/robot/dev

