<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			<immediateFlush>false</immediateFlush>
		</encoder>
	</appender>

	<logger name="com.intuit.karate" level="INFO"/>

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
