<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>API Docs</title>
    <script ka:scope="global"></script>
    <link rel="stylesheet" href="app.css" type="text/css"/>
  </head>
  <body>
    <script ka:scope="global">
      var url = 'https://jsonplaceholder.typicode.com/users';
      var req = null;
      var method = 'GET';
      var res = context.http(url).method(method).body(req).invoke().body;
    </script>    
    <div>
      <h2><span th:text="method"></span> <span th:text="url"></span></h2>
      <p>Request</p>
      <code th:text="req"></code>
      <p>Response</p>
      <code th:text="res"></code>      
    </div>
  </body>
</html>
